$toggle-height: 4px;
$toggle-line-radius: 6px;
$toggle-line-color: $color-default;

/*-- toogle-menu animate--*/
.navbar-toggle {
	display: none;
	width: 35px;
	height: 25px;
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 1070;
	@include mq-down(lg) {
		display: block;
	}
	@include mq-down(xs) {
		top: 25px;
	}
	span {
		&:after,
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 9px;
		}
		&:after {
			top: 18px;
			width: 100%;
			height: $toggle-height;
			background-color: $toggle-line-color;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-border-radius: $toggle-line-radius;
			border-radius: $toggle-line-radius;
		}
		position: relative;
		display: block;
		width: 100%;
		height: $toggle-height;
		background-color: $toggle-line-color;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-border-radius: $toggle-line-radius;
		border-radius: $toggle-line-radius;
		&:before {
			width: 100%;
			height: $toggle-height;
			background-color: $toggle-line-color;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-border-radius: $toggle-line-radius;
			border-radius: $toggle-line-radius;
		}
	}
	&.on span {
		background-color: transparent;
		&:before {
			transform: rotate(45deg) translate(-1px, 0px);
			-ms-transform: rotate(45deg) translate(-1px, 0px);
			-webkit-transform: rotate(45deg) translate(-1px, 0px);
		}
		&:after {
			transform: rotate(-45deg) translate(6px, -7px);
			-ms-transform: rotate(-45deg) translate(6px, -7px);
			-webkit-transform: rotate(-45deg) translate(6px, -7px);
		}
	}
}


/*-- /toogle-menu animate--*/