
    </div>

    <footer class="footer">
        <div class="container">
                    <a class="footer__item mailto" href="mailto:contact@architenext.com">contact@architenext.com</a>
                    <p class="footer__item fax">Fax: +1 800 745 6024</p>

                    <div class="social">
                        <a href="#" class="social__item"><i class="social__icon fa fa-facebook"></i></a>
                        <a href="#" class="social__item"><i class="social__icon fa fa-twitter"></i></a>
                        <a href="#" class="social__item"><i class="social__icon fa fa-pinterest"></i></a>
                        <a href="#" class="social__item"><i class="social__icon fa fa-google-plus"></i></a>
                    </div>
    </div>
</footer>
    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>
</body>
</html>