<!doctype html>
<html>
<head>
    <!--<base href="/">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UCG test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>


<div class="main">
    <div class="main__content">
        <header class="header">
            <div class="header__container container">
                <div class="navbar-logo">
                    <a href="#" class="navbar-logo__link">
                        <img src="img/logo.svg" alt="" class="navbar-logo__img">
                        <span class="navbar-logo__text"><strong>Archi</strong> Next</span>
                    </a>
                    <a href="#" class="navbar-toggle"><span></span></a>
                </div>
                    <nav class="navbar-nav">
                        <a href="#home" class="navbar-nav__link navbar-nav__link--is-active" data-hover="Home">Home</a>
                        <a href="#projects" class="navbar-nav__link navbar-nav__link--data-hover" data-hover="Projects">Projects</a>
                        <a href="#solutions" class="navbar-nav__link navbar-nav__link--data-hover" data-hover="Solutions">Solutions</a>
                        <a href="#blog" class="navbar-nav__link navbar-nav__link--data-hover" data-hover="Blog">Blog</a>
                        <a href="#contact" class="navbar-nav__link navbar-nav__link--data-hover" data-hover="Contact">Contact</a>
                    </nav>

            </div>

        </header>