$btn-color: $text-color-primary;
$btn-bg-color: $color-default;
$btn-box-shadow: 0 0 20px 1px rgba(1, 105, 180, 0.5);
$btn-border-color: #cccccc;
$btn-border: 2px solid;
$btn-padding-vertical: 7px;
$btn-padding-horizontal: 35px;
$btn-font-size: 18px;
$btn-line-height: $base-line-height;
$btn-border-radius: 30px;


.btn{
	display: inline-block;
	text-align: center;
	border: $btn-border $btn-border-color;
	text-decoration: none;
	font-weight: 600;
	@include button-size($btn-padding-vertical, $btn-padding-horizontal, $btn-font-size, $btn-line-height, $btn-border-radius);
	&-default{
		@include button-outline($btn-color, transparent, $btn-border-color);
		&:hover{
			@include button-variant($color-default, $color-secondary, transparent);
			@include box-shadow($btn-box-shadow);
		}
	}
}
