$categories-bg: $color-default;
$categories-title-line-height: 1.133;

.categories{
	display: flex;
	flex-direction: column;
	&__list{
		position: relative;
		@extend .text-center;
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		justify-content: space-between;
		margin-top: -205px;
		margin-bottom: 0;
		@include mq-down(xs) {
			flex-basis: 100%;
		}
		@include mq-only(md){
			justify-content: space-around;
		}
		@include mq-down(sm){
			justify-content: center;
		}
		//@include mq-down(lg){
		//	justify-content: space-between;
		//}

	}
	&__item{
		padding: 70px 20px 30px;
		display: flex;
		flex-direction: column;
		background: $categories-bg;
		@include transition($base-transition);
		&:hover{
			@include transform(translateY(-5%));
			@include box-shadow(0 0 15px 0px rgba(107, 105, 105, 0.3));
		}
		@include mq-down(sm) {
			flex-basis: 100%;
		}
		@include mq-only(md) {
			flex-basis: 45%;
			margin-bottom: $base-padding * 1.5;
			align-items: center;
			justify-content: center;
		}
		@include mq-up(lg) {
			flex-basis: 31%;
		}
		@include mq-up(lg) {
			width: 370px;
		}
		.icon{
			flex-grow: 1;
			justify-content: center;
			align-items: center;
			display: flex;
		}
	}
	&__item + &__item{
		@include mq-down(xs) {
			margin-top: $grid-gutter-width;
		}
	}
	&__name{
		color: $text-color-default;
		font-weight: bold;
		line-height: $categories-title-line-height;
		margin: 30px 0;
	}
	&__text{
		color: $text-color-primary;
		font-weight: 500;
		line-height: $base-line-height;
	}
	&__btn{
		align-self: center;
	}
	&__text + &__btn{
		margin-top: 40px;
		margin-bottom: 20px;
	}

}

.info, .works, .news{
	background: $body-bg-default;
	position: relative;
	z-index: 2;
}

.works + .news, .news + .projects{
	padding-top:  $base-padding * 8;
}
